<div class="container">
    <div class="row justify-content-center mt-3">
    <div class="card shadow" style="max-width: 750px;">
        <div class="card-header text-center card-title">
          <h5>Add Habbits</h5>  
          </div>
        <div class="card-body">
          <form action="/submit" method="post">
            <div class="mb-3">
              <label for="habbitLabel" class="form-label">Habit Name</label>
              <input type="text" name="habit" id="habbitLabel" class="form-control" aria-describedby="habbit" required>
            </div>
            <div class="mb-3">
              <label for="goalLabel" class="form-label">Goal Description</label>
              <input type="text" name="goal" class="form-control" id="goalLabel" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
        </div>
      </div>
<div>
 
</div>
      
    </div>

    </div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

